* {
  font-family: Poppins;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.navbar {
  display: flex;
  height: 10vh;
  align-items: center;
  box-shadow: 0 0 8px lightgray;
}

.navbar img {
  margin-left: 50px;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.photo-grid {
  align-self: center;
  width: 1000px;
  padding: 30px;
}

.hero h1 {
  margin-top: 40px;
  font-size: 50px;
}

.hero p {
  width: 50vw;
  font-size: 24px;
}

.data-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card-container {
  position: relative;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
  padding: 0 0 0 50px;
  overflow-x: auto;
}

.card-img {
  border-radius: 10px;
  max-width: 220px;
}

.card-info {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  font-size: 14px;
}

.star-info {
  max-width: 15px;
  margin-top: -2px;
  margin-bottom: 12px;
  margin-right: 5px;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 56px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 6px;
  font-weight: bold;
}

.rating {
  display: flex;
  align-items: start;
}

.num {
  color: gray;
  margin-left: 4px;
}

.card--title {
  font-weight: 300;
  margin: 0;
}

.card--price {
  margin: 10px 0 0;
}